<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/bundle.js"></script>
  </head>
  <body ng-app='gulpApp' ng-controller='mainCtrl'>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button ng-click='alert()'>ALERT</button>

  </body>
</html>
