html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: indianred; }

a {
  color: indianred; }

.box {
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  border-radius: 11px;
  background-color: blue; }
